# Workvm compose env (vm/projects/olie). Copied to .env by post-clone.sh.
GIT_ROOT=/home/fabricio/git

APP_PORT=80
# Fixed for api-main www-data (do not use 0:0)
UID=1000
GID=1000

DB_DATABASE=api_main
DB_USERNAME=sail
DB_PASSWORD=password
FORWARD_DB_PORT=3306

MONGODB_USERNAME=sail
MONGODB_PASSWORD=password
MONGODB_PORT=27017
MONGODB_DATABASE=api_main
